.log-container{
    padding: 0 10px;
}
.site-card-border-less-wrapper-login {
    border: 2px solid rgb(197, 199, 197);
    border-radius: 5px;
    margin: 100px auto;  
    max-width: 430px;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif   ;    
}
.underline-style{
   margin: 30px;
}

.input-box-style{
    letter-spacing: 1px;
    margin-top: 30px;
}
.ragister-link{
    letter-spacing: 1px ;
}
.login-form-button{
    letter-spacing: 1px;
}