/* * {
    outline: 1px solid #f00 !important;
  } */
  
.card-main-form {
    /* margin: 1.5rem; */
}

.mis-form-item {
    margin: 0.75rem 1rem;
}

/* .mis-form {
    padding: 1.5rem;
    background: #ffffff;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
} */

.ant-card-bordered {
    border: 2px solid #d9d9d9;
    border-radius: 6px;
}

.divider-thickness {
    border-top: 2px solid #d9d9d9;
}

.screen-main-item span {
    color: #810000;
}

.mis-date-picker {
    width: 100%;
}

.submit-form-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}
